<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>发表评论</h1>
    <form action="/comment" method="get">
        <div>
            <label for="input_name">你的大名</label>
            <input name="name" placeholder="你的姓名" type="text" id="input_name" required minlength="2" maxlength="10">
        </div>
        <div>
            <label for="textarea_message">留言内容</label>
            <textarea name="message" id="textarea_message" cols="30" rows="10" minlength="5" maxlength="20"></textarea>
        </div>
        <button>发表留言</button>
    </form>
</body>
</html>